<h2>Products of Category {{products[0].categoryID}}</h2>

<div class="products">
  <div class="element" *ngFor="let product of products">
    <h3 class="name">
      <a [title]="product.name + ' details'" href="{{product.link}}" target="_blank"  (click)="selectProduct(product)">
        {{ product.name }}
      </a>
    </h3>
    <img src="{{product.img[0]}}"  height="300px" width="300px" alt="">
  
    <div class="details">
      <a routerLink="/products/{{product.productID}}" (click)="selectProduct(product)" class="info">Show Product Details</a>
    </div>
    
  
    <div class="catID">CategoryID:{{product.categoryID}}</div>
  
  </div>
</div>